.page-sidebar {
    background-color: #373A36;
    height: 100%;
    width: 70px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    z-index: 1002;
    transition: 0.5s all;
}

.active {
    width: 230px;
}

.page-sidebar-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 17px;
}

.icon-arrow {
    width: 20px;
    height: 20px;
    
}

.open-icon {
    margin-left: 30%;
}

.close-icon {
    margin-left: 90%;
}

.side-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu .menu-link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.menu-item-icon {
    width: 40px;
    height: 40px;
}

.hidden {
    display: none;
}

.block-profile {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content-wrapper {
    margin-left: auto;
    padding: 50px 100px;
    letter-spacing: 1px;
    background-color: #dcdcdc;
    min-height: 750px;
    transition: 0.5s all;
}

.block-information-profile {
    display: flex;
    gap: 200px;
    margin: 0 auto;
}

.avatar-image {
    width: 250px;
    height: 250px;
}

.information-profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}

.block-nickname {
    font-weight: bold;
    font-size: 50px;
}

.block-music-user {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.block-music, friends {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
}

.user-playlist {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.playlist {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    font-weight: 500;
}

.playlist-avatar {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.music-strip {
    width: 200px;
    background: url('img/icon-audio-wave.png') repeat-x;
    background-size: 10px 10px;
}

.music-photo {
    width: 25px;
    height: 25px;
}

.user-music {

}

.block-your-music {
    margin-bottom: 20px;
}

.your-music-header {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.music-figure {
    display: flex;
}

.audio {
    display: block;
    width: 100%;
    
}

.audio::-webkit-media-controls-panel {
    background-color: #fff;
}

.name-music {
    width: 100px;
    font-size: 15px;
    margin: auto 0;
}

.block-friend {
    display: flex;
    flex-direction: column;
    gap: 30px;  
}

.block-header-friend {
}

.header-friend {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.friends {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 60px;
}

.list-friends {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-friends-item {
    
}

.list-friends-item a {
    display: flex;
    gap: 40px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.name-friend {
    margin: auto 0;
}

.avatar-friend-image {
    width: 40px;
    height: 40px;
}