.background {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    left: 0px;
    z-index: 2000;
    display: none;
    height: 2000px;
    width: 100%;
}

.page-sidebar {
    background-color: #002F55;
    height: 100%;
    width: 70px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    z-index: 1002;
}

.active {
    width: 200px;
}

.page-sidebar-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 17px;
}

.icon-menu {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .side-menu .menu-link {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: flex;
        gap: 20px;
        align-items: center;
    }

.menu-item-icon {
    width: 40px;
    height: 40px;
}

.hidden {
    display: none;
}

.block-profile {
    display: flex;
    flex-direction: column;
}



.content-wrapper {
    margin-left: auto;
    letter-spacing: 1px;
    background-color: #fff;
    min-height: 100%;
    font-family: 'Century Gothic';
    padding-bottom: 20px;
}

.block-information-profile {
    background-color: #EBEBF9;
    width: 100%;
    display: flex;
    gap: 90px;
    margin: 0 auto;
    padding: 70px 320px;
}

.avatar-image {
    width: 200px;
    height: 200px;
    border-radius: 14px;
    box-shadow: 0px 0px 30px 3px #002F55;
}

.change-avatar {
    display: none;
}

.information-profile {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.information-profile hr {
    margin: 0;
    margin-top: 10px;
    width: 100%;
    border: 2px solid #002F55;
    opacity: 1;
    border-radius: 5px;
}

.settings-profile {
    width: 30px;
    height: 30px;
}

.block-nickname {
    font-weight: bold;
    font-size: 38px;
}

.block-number-space {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block-free-space {
    font-size: 18px;
    width: 300px;
}

.block-telephone span {
    font-size: 14px;
}

.block-settings {
    width: 700px;
    padding: 20px;
    font-size: 18px;
    margin: 0 auto;
    border-radius: 14px;
    display: none;
    z-index: 2002;
    background-color: #fff;
    position: fixed;
    top: 30%;
    left: 25%;
}

.form-settings {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.form-settings label {
    font-size: 14px;
}

.main-info-change {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.image-profile-change, .nickname-profile-change {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.current-nickname-profile {
    font-size: 14px;
    border: none;
    outline: none;
    border-bottom: 2px solid #002F55;
}

.file-image {
    font-size: 14px;
}

.settings-privacy {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settings-privacy span {
    font-size: 16px;
}

.settings-privacy select {
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #002F55;
    outline: none;
}

.settings {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.button {
    margin-top: 5px;
    width: 150px;
    margin-left: auto;
    font-size: 16px;
    border: none;
    background-color: #002F55;
    color: #fff;
    border-radius: 5px;
}

    .button:hover {
        box-shadow: 0px 0px 5px 3px #002F55;
    }

.button-remove-friend, .button-add-friend {
    width: 250px;
    padding: 5px;
    margin-right: auto;
    margin: 0;
}

.block-music-user {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.block-music {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.friends {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
}

.user-playlist {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
}

.block-playlist {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.playlist {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    font-weight: 500;
    border: none;
    outline: none;
    background: none;
}

.playlist span {
    margin: 0 auto;
}

.info-my-playlist {
    display: flex;
    gap: 10px;
    align-items: center;
}

.block-form-add-playlist, .block-form-add-music, .block-form-change-playlist,
.block-form-change-music {
    position: fixed;
    top: 15%;
    left: 35%;
    z-index: 2004;
    background-color: #fff;
    width: 500px;
    padding: 25px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: none;
}

.block-open-playlist {
    position: fixed;
    background-color: #fff;
    border-radius: 14px;
    width: 1000px;
    max-height: 600px;
    padding: 20px;
    z-index: 2002;
    top: 10%;
    left: 18%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    display: none;
}

.avatar-playlist {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.block-left-top-playlist {
    display: flex;
    gap: 20px;
}

.block-left-top-playlist span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
}

.block-top-playlist {
    display: flex;
    justify-content: space-between;
}

.block-form-change-music {
    left: 30%;
    width: 600px;
}

.block-change-my-playlist, .block-change-music-playlist {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 190px;
    padding: 7px;
    box-shadow: 0px 0px 5px 3px #002F55;
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
    display: none;
}

.block-change-music-playlist {
    width: 250px;
    z-index: 3000;
}

.button-playlist-delete, .button-playlist-change,
.button-music-delete-from-playlist, .button-music-add-in-playlist {
    display: flex;
    gap: 20px;
    border: none;
    background-color: #fff;
    padding: 0px 5px;
    border-radius: 5px;
    width: 100%;
}

.button-playlist-delete:hover, .button-playlist-change:hover,
.button-music-delete-from-playlist:hover, .button-music-add-in-playlist:hover{
    background-color: rgba(0, 47, 85, 0.3);
    border-radius: 5px;
}

.buttoooooooooooon:hover {
    background-color: rgba(0, 47, 85, 0.3);
    border-radius: 5px;
}

.icon-change-playlist {
    width: 20px;
    height: 20px;
    margin: auto 0;
}

.form-change-playlist {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-add-music, .form-change-music {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.block-form-add-music {
    width: 650px;
    left: 30%;
}

.block-input-name, .block-input-change-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block-file-music, .block-file-playlist {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.file-item, .file-item-playlist, .file-change-item-music {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.block-form-add-playlist span, .block-form-add-music span, .block-form-change-playlist span,
.block-form-change-music  span{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.input-name-playlist, .input-name-music,
.input-albom-music, .input-songs-music, .input-name-change-playlist,
.input-name-change-music, .input-albom-change-music, .input-songs-change-music {
    outline: none;
    border: none;
    border-bottom: 2px solid #002F55;
}

.input-name-music, .input-albom-music, .input-songs-music {
    width: 250px;

}

.form-add-playlist {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.block-checkbox-music {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #c0c0c0;
    padding: 10px;
    border-radius: 14px;
    max-height: 400px;
}

.header-checkbox-playlists {
    text-transform: uppercase;
    font-weight: 700;
}

.block-button-add-playlist, .block-button-add-music {
    border: none;
    outline: none;
    background: none;
    width: 30px;
    height: 30px;
    margin: auto 0;
    padding: 0;
}

.image-add-playlist, .image-add-music {
    width: 30px;
    height: 30px;
    margin: auto 0;
}

.user-music {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block-shuffle {
    display: flex;
    justify-content: space-between;
}

.shuffle, .block-mymusic-favorite {
    border: none;
    background-color: #fff;
    border: 1px solid #002F55;
    border-radius: 5px;
    text-transform: uppercase;
    color: #002F55;
    font-weight: 500;
    display: flex;
    gap: 10px;
}

.shuffle:hover {
    box-shadow: 0px 0px 5px 2px #002F55;
}

.my-music-filter, .favor-music-filter {
    border: none;
    outline: none;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    width: 130px;
    text-align: center;
}

.current-filter {
    box-shadow: 0px 0px 5px 2px #002F55;
}

.shuffle-icon {
    width: 20px;
    height: 20px;
    margin: auto 0;
}

.playlist-avatar {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.block-your-music {
    display: flex;
    gap: 10px;
}

.block-one-music {
    padding: 5px 10px;
}

.block-one-music:hover {
    background-color: rgba(0, 47, 85, 0.3);
    border-radius: 5px;
}

.info-music {
    display: flex;
    gap: 10px;
}

.play-music {
    border: none;
}

.avatar-music, .play-music {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.play-music {
    padding: 0;
}

.block-current-music {
    position: fixed;
    background-color: #fff;
    width: 1401px;
    bottom: 0;
    box-shadow: 0px 0px 10px 3px #002F55;
    gap: 5px;
    padding: 5px;
    display: none;
}

.display-flex {
    display: flex;
}

.block-current-music button {
    border: none;
    background-color: #fff;
    width: 30px;
    height: 30px;
}

.current-audio {
    width: 100%;
}

.current-audio::-webkit-media-controls-panel {
    background-color: #fff;
}

.current-audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

.current-audio::-webkit-media-controls-play-button {
    outline: none;
}

.current-music-avatar {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-top: 2px;
}

.icon-control {
    width: 25px;
    height: 25px;
    margin-top: 12px;
}

.current-playlist {
    position: fixed;
    background-color: #fff;
    border-radius: 14px;
    width: 900px;
    max-height: 600px;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    display: none;
    z-index: 2002;
    top: 10%;
    left: 20%;
}

.current-playlist .current-playlist-shuffle {
    margin: 10px 0;
}

.current-playlist-show {
    display: flex;
}

.header-current-playlist {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.current-playlist-shuffle {
    width: 150px;
}

.block-control, .block-music-other-user-control, .block-control-music-playlist {
    height: 35px;
    border: none;
    padding: 0;
    background: none;
    margin: auto 0;
    margin-top: 15px;
}

.block-music-other-user-control {
    margin-top: 5px;
}

.block-control-music-playlist {
    margin-top: 5px;
}

.block-control {
    display: flex;
}


.icon-remove-iz-playlist {
    width: 35px;
    height: 35px;
}

.music-contol, .music-other-user-control, .music-contol-my-playlist {
    width: 20px;
    height: 20px;
}

.popup-change-mymusic, .block-add-in-playlist, .popup-change-friendmusic, .popup-change-mymusic-MYYYYYY {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0px 0px 10px 3px #002F55;
    position: absolute;
    display: none;
}

.block-add-in-playlist {
    z-index: 3000;
}

.popup-button {
    border: none;
    background: none;
    outline: none;
    border-radius: 5px;
    text-align: left;
    display: flex;
    gap: 15px;
    width: 100%;
}

.popup-button:hover {
    background-color: rgba(0, 47, 85, 0.3);

}

.popup-image {
    width: 18px;
    height: 18px;
    margin-top: 3px;
}

.form-addin-playlist {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
























.music {
    display: flex;
    justify-content: space-between;
}

.block-name-music {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.music-photo {
    width: 25px;
    height: 25px;
}

.your-music-header {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.music-figure {
    display: flex;
}

.audio {
    display: block;
    width: 100%;
}

    .audio::-webkit-media-controls-panel {
        background-color: #fff;
    }

.name-music {
    width: 100px;
    font-size: 15px;
    margin: auto 0;
}

.block-friend {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 80px;
}

.block-header-friend {
    display: flex;
    gap: 50px;
}

.block-search-friend {
    margin: auto 0;
}

.form-search-friend input {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}

.form-search-friend img {
    width: 30px;
    height: 30px;
}

.header-friend {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.friends {
    background-color: #fff;
    border-radius: 20px;
    padding: 0;
}

.list-friends {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-friends-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.list-friends-item:hover {
    background-color: rgba(0, 47, 85, 0.3);
    border-radius: 5px;
}

.button-remove-friend-list {
    width: 200px;
    height: 30px;
    margin: auto 0;
}

.list-friends-item a {
    display: flex;
    gap: 40px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.user-search-result {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button-add-friend-list {
    width: 250px;
    height: 35px;
}

.header-search-user {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.name-friend {
    margin: auto 0;
}

.avatar-friend-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.error-valid-music {
    color: red;
    display: none;
}

.show {
    display: block;
}

.text-center {
    width: 400px;

}

.button-for-my-playlist-change {
    width: 20px;
    height: 20px;
}

.button-for-my-playlist, .button-for-other-playlist {
    border: none;
    background: none;
    width: 20px;
    height: 20px;
}

.block-button-telegram {
    text-align: right;
    width: 100%;
    padding: 20px 40px;
}

.block-home-music {
    width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
}

.not-found {
    font-size: 16px;
    margin: 0 auto;
}

.group-header-friend {
    display: flex;
    justify-content: space-between;
}

.header-search-user, .header-friends-requests {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: black;
}

.header-search-user:hover, .header-friends-requests:hover {
    color: black;
}

.user-search-result {
    border: 1px solid #002F55;
    padding: 3px 8px;
    border-radius: 5px;
}

.user-search-result:hover, .button-search-friend:hover {
    box-shadow: 0px 0px 5px 3px #002F55;
}

.form-search-friend {
    display: flex;
    gap: 15px;
}

.form-search-friend img {
    width: 30px;
    height: 30px;
}

.text-search-users {
    width: 300px;
}

.button-search-friend {
    border: 1px solid #002F55;
    background-color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
}

.list-users-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.group-button-requests-answer {
    display: flex;
    margin-top: 7px;
}

.list-users-item:hover {
    background-color: rgba(0, 47, 85, 0.3);
    border-radius: 5px;
}

.list-users-item a {
    display: flex;
    gap: 40px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.button-deny-request {
    background-color: #fff;
    color: black;
    border: 1px solid #002F55;
}

.block-pagination {
    display: flex;
    gap: 20px;
    width: 100px;
    margin: 0 auto;
}

.icon-arrow-pagination {
    width: 25px;
    height: 25px;
}

.page-current-count {
    font-weight: 700;
}

.aaaaaaaaaaaaaaa {
    font-size: 1px;
}

.stolbci-slov {
    width: 100%;
    display: flex;
    gap: 20px;
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

.ghghghghghg {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text1-stolb1, .text2-stolb2 {
    width: 400px;
}

.icon-logout {
    width: 25px;
    height: 25px;
}

.button-logout {
    border:none;
    background: none;
}

.button-remove-playlist-forme, .button-add-playlist-forme, .delete-playlisttttt {
    border: none;
    background: none;
}

.delete-playlisttttt {
    display: flex;
    gap: 18px;
    width: 100%;
}

.title-musssiiiiicccc {
    margin-top: 13px;
    margin-left: 5px;
    font-weight: 500;
}

.count-requestststs {
    position: absolute;
    left: 44px;
    top: 200px;
    color: black;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.count-requestststs span {
    position: relative;
    top: -4px;
    font-size: 14px;
}