<div class="content-wrapper">
    <div class="block-friend">
        <div class="block-header-friend">
            <h1 class="header-friend">Друзья</h1>
        </div>
        <div class="friends">
            <ul class="list-friends">
                <li class="list-friends-item">
                    <a href="#">
                        <img class="avatar-friend-image" src="/img/profile-avatar.png" />
                        <span class="name-friend">n677gggdjs5</span>
                    </a>
                </li>
                <li class="list-friends-item">
                    <a href="#">
                        <img class="avatar-friend-image" src="/img/profile-avatar.png" />
                        <span class="name-friend">n677gggdjs5</span>
                    </a>
                </li>
                <li class="list-friends-item">
                    <a href="#">
                        <img class="avatar-friend-image" src="/img/profile-avatar.png" />
                        <span class="name-friend">n677gggdjs5</span>
                    </a>
                </li>
                <li class="list-friends-item">
                    <a href="#">
                        <img class="avatar-friend-image" src="/img/profile-avatar.png" />
                        <span class="name-friend">n677gggdjs5</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>