<div class="content-wrapper">
    <div class="block-friend">
        <div class="block-header-friend">
            <h1 class="header-friend">Друзья</h1>
            <div class="block-search-friend">
                <form class="form-search-friend">
                    <img src="~/img/icon=search.png" />
                    <input type="text" placeholder="Искать пользователя"/>
                </form>
            </div>
        </div>
        <div class="friends">
            <ul class="list-friends">
                <li class="list-friends-item">
                    <a href="/home/profile/0/1/0">
                        <img class="avatar-friend-image" src="~/img/avatar.jpg" />
                        <span class="name-friend">n677gggdjs5</span>
                    </a>
                    <button class="button button-remove-friend-list">Удалить из друзей</button>
                </li>
                <li class="list-friends-item">
                    <a href="/home/profile/0/1/0">
                        <img class="avatar-friend-image" src="~/img/avatar.jpg" />
                        <span class="name-friend">n677gggdjs5</span>
                    </a>
                    <button class="button button-remove-friend-list">Удалить из друзей</button>
                </li>
                <li class="list-friends-item">
                    <a href="/home/profile/0/1/0">
                        <img class="avatar-friend-image" src="~/img/avatar.jpg" />
                        <span class="name-friend">n677gggdjs5</span>
                    </a>
                    <button class="button button-remove-friend-list">Удалить из друзей</button>
                </li>
                <li class="list-friends-item">
                    <a href="/home/profile/0/1/0">
                        <img class="avatar-friend-image" src="~/img/avatar.jpg" />
                        <span class="name-friend">n677gggdjs5</span>
                    </a>
                    <button class="button button-remove-friend-list">Удалить из друзей</button>
                </li>
            </ul>
        </div>
        <hr />
        <div class="user-search-result">
            <span class="header-search-user">Глобальный поиск</span>
            <ul class="list-friends list-users">
                <li class="list-friends-item user-item">
                    <a href="/home/profile/0/0/1">
                        <img class="avatar-friend-image" src="~/img/avatar.jpg" />
                        <span class="name-friend">n677gggdjs5</span>
                    </a>
                    <button class="button button-add-friend-list">Отправить заявку в друзья</button>
                </li>
                <li class="list-friends-item">
                    <a href="/home/profile/0/0/1">
                        <img class="avatar-friend-image" src="~/img/avatar.jpg" />
                        <span class="name-friend">n677gggdjs5</span>
                    </a>
                    <button class="button button-add-friend-list">Отправить заявку в друзья</button>
                </li>
            </ul>
        </div>
    </div>
</div>