@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center content-wrapper ghghghghghg">
    @if (!bool.Parse(ViewData["IsAuthtorized"].ToString()))
    {
        <div class="block-button-telegram">
            <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="ListenMusicValBot" data-size="large"
                data-auth-url="https://mks-server.tplinkdns.com/GetAuthResult" data-request-access="write"></script>
        </div>
    }
    <h1 class="display-4">Добро пожаловать!</h1>
    <div class="stolbci-slov">
        <h3 class="text1-stolb1">Вы любите музыку и хотите делиться ей с другими?<br />Вам к нам!</h3>
        <h3 class="text2-stolb2">У нас вы сможете загружать свои любимые песни и слушать их, не храня файл на телефоне! <br />Сможете делиться своими песнями и брать понравившиеся треки у других. <br />Вам понравится!</h3>
    </div>
    <script src="/js/script.js"></script>
</div>
