@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center content-wrapper">
    <div class="block-button-telegram">
        <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="ListenMusicValBot" data-size="large"
                data-auth-url="http://127.0.0.1/GetAuthResult" data-request-access="write"></script>
    </div>
    <h1 class="display-4">Добро пожаловать!</h1>
        <div class="block-profile">
            <div class="block-one-music">
                <div class="music">
                    <div class="info-music">
                        <audio class="audio" src="~/audio/ANNA_ASTI_-_Po_baram_74376135.mp3"></audio>
                        <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                        <div class="block-name-music">
                            <span>По барам</span>
                            <span>ANNA - Asti</span>
                        </div>
                    </div>
                    <button class="block-control-music-playlist">
                        <img class="music-contol-my-playlist" src="~/img/icon-three-tochki.png" />
                    </button>
                </div>
            </div>
            <div class="block-one-music">
                <div class="music">
                    <div class="info-music">
                        <audio class="audio" src="~/audio/ANNA_ASTI_-_Po_baram_74376135.mp3"></audio>
                        <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                        <div class="block-name-music">
                            <span>Можно я с тобой</span>
                            <span>APSENT</span>
                        </div>
                    </div>
                    <button class="block-control-music-playlist">
                        <img class="music-contol-my-playlist" src="~/img/icon-three-tochki.png" />
                    </button>
                </div>
            </div>
             <div class="block-one-music">
                        <div class="music">
                            <div class="info-music">
                                <audio class="audio" src="~/audio/ANNA_ASTI_-_Po_baram_74376135.mp3"></audio>
                                <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                                <div class="block-name-music">
                                    <span>Седая ночь</span>
                                    <span>Юрий Шатунов</span>
                                </div>
                            </div>
                            <button class="block-control-music-playlist">
                                <img class="music-contol-my-playlist" src="~/img/icon-three-tochki.png" />
                            </button>
                        </div>
                    </div>
                     <div class="block-one-music">
                        <div class="music">
                            <div class="info-music">
                                <audio class="audio" src="~/audio/ANNA_ASTI_-_Po_baram_74376135.mp3"></audio>
                                <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                                <div class="block-name-music">
                                    <span>Где прошла ты</span>
                                    <span>Кравц, ГИО ПИКА</span>
                                </div>
                            </div>
                            <button class="block-control-music-playlist">
                                <img class="music-contol-my-playlist" src="~/img/icon-three-tochki.png" />
                            </button>
                        </div>
                    </div>
            <div class="block-one-music">
                <div class="music">
                    <div class="info-music">
                        <audio class="audio" src="~/audio/ANNA_ASTI_-_Po_baram_74376135.mp3"></audio>
                        <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                        <div class="block-name-music">
                            <span>Лесник</span>
                            <span>Король и шут</span>
                        </div>
                    </div>
                    <button class="block-control-music-playlist">
                        <img class="music-contol-my-playlist" src="~/img/icon-three-tochki.png" />
                    </button>
                </div>
            </div>
        </div>
    <script src="/js/script.js"></script>
</div>
