<div class="content-wrapper">
    <div class="block-profile">
        <div class="block-header-friend">
            <h1 class="header-friend">Музыка</h1>
        </div>
        <div class="block-music block-music-user">
            <div class="user-playlist">
                <div class="playlist">
                    <img class="playlist-avatar" src="/img/playlist-avatar.jpg" />
                    <span>Избранное</span>
                </div>
                <div class="playlist">
                    <img class="playlist-avatar" src="/img/playlist-avatar.jpg" />
                    <span>Избранное</span>
                </div>
            </div>
            <hr />
            <div class="user-music">
                <div class="block-your-music">
                    <span class="your-music-header">Ваша музыка</span>
                </div>
                <div class="music">
                    <figure class="music-figure">
                        <figcaption class="name-music">Седая ночь</figcaption>
                        <audio class="audio" controls src="/audio/YUrijj_SHatunov_-_Sedaya_noch_50310007.mp3"></audio>
                    </figure>
                </div>
                <div class="music">
                    <figure class="music-figure">
                        <figcaption class="name-music">Седая ночь</figcaption>
                        <audio class="audio" controls src="/audio/YUrijj_SHatunov_-_Sedaya_noch_50310007.mp3"></audio>
                    </figure>
                </div>
                <div class="music">
                    <figure class="music-figure">
                        <figcaption class="name-music">Седая ночь</figcaption>
                        <audio class="audio" controls src="/audio/YUrijj_SHatunov_-_Sedaya_noch_50310007.mp3"></audio>
                    </figure>
                </div>
                <div class="music">
                    <figure class="music-figure">
                        <figcaption class="name-music">Седая ночь</figcaption>
                        <audio class="audio" controls src="/audio/YUrijj_SHatunov_-_Sedaya_noch_50310007.mp3"></audio>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>