<div class="content-wrapper">
    <div class="block-profile">
        <div class="background"></div>
        @if (bool.Parse(ViewData["myprofile"].ToString()))
        {
            <div class="block-settings">
                <form class="form-settings">
                <div class="main-info-change">
                    <div class="image-profile-change">
                        <label for="image">Изменить фото профиля</label>
                        <input class="file-image" type="file" id="image"/>
                    </div>
                    <div class="nickname-profile-change">
                        <label for="nickname">Изменить никнейм:</label>
                        <input class="current-nickname-profile" type="text" id="nickname" />
                    </div>
                </div>
                <div class="settings-privacy">
                    <span>Настройки приватности</span>
                    <div class="settings settings-friend">
                        <label for="friends">Друзья:</label>
                        <select class="select select-friends" id="friends">
                            <option value="2">Только для меня</option>
                            <option value="1">Только для друзей</option>
                            <option value="0">Для всех</option>
                        </select>
                    </div>
                    <div class="settings settings-music">
                        <label for="music">Музыка:</label>
                        <select class="select select-music" id="music">
                            <option value="2">Только для меня</option>
                            <option value="1">Только для друзей</option>
                            <option value="0">Для всех</option>
                        </select>
                    </div>
                </div>
                <button class="button button-settings">Сохранить</button>
            </form>
        </div>
        }

        @if (bool.Parse(ViewData["myprofile"].ToString()))
        {
            <div class="block-form-add-playlist">
                <span>Добавить плейлист</span>
            <form class="form-add-playlist">
                <div class="block-input-name">
                    <input class="input-name-playlist" type="text" placeholder="Название" />
                </div>
                <div class="block-checkbox-music">
                    <label class="header-checkbox-playlists">Добавьте музыку в плейлист</label>
                    <div class="checkbox-item">
                        <input type="checkbox" id="Playlist1" />
                        <label for="Playlist1">Музыка 1</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="Playlist2" />
                            <label for="Playlist2">Музыка 2</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="Playlist3" />
                            <label for="Playlist3">Музыка 3</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="Playlist4" />
                            <label for="Playlist4">Музыка 4</label>
                    </div>
                </div>
                <button class="button button-add-new-playlist">Добавить</button>
            </form>
        </div>
        }

        @if (bool.Parse(ViewData["myprofile"].ToString()))
        {
            <div class="block-open-playlist">
                <div class="block-top-playlist">
                    <div class="block-left-top-playlist">
                        <img class="avatar-playlist" src="~/img/playlist-avatar.jpg" />    
                        <span>Название</span>
                    </div>
                    <div>
                        <span>Автор: n567fg</span>
                    </div>
                </div>

                <div class="playlist">
                    <button class="shuffle current-playlist-shuffle">
                        <img class="shuffle-icon" src="/img/icon-shuffle.png" />
                        Перемешать
                    </button>
                    <div class="block-one-music">
                        <div class="music">
                            <div class="info-music">
                                <audio class="audio" src="~/audio/ANNA_ASTI_-_Po_baram_74376135.mp3"></audio>
                                <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                                <div class="block-name-music">
                                    <span>Название (Альбом)</span>
                                    <span>Исполнитель</span>
                                </div>
                            </div>
                            <button class="block-control-music-playlist">
                                <img class="music-contol-my-playlist" src="~/img/icon-three-tochki.png" />
                            </button>
                        </div>
                    </div>
                    <div class="block-one-music">
                        <div class="music">
                            <div class="info-music">
                                <audio class="audio" src="~/audio/ANNA_ASTI_-_Po_baram_74376135.mp3"></audio>
                                <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                                <div class="block-name-music">
                                    <span>Название (Альбом)</span>
                                    <span>Исполнитель</span>
                                </div>
                            </div>
                            <button class="block-control-music-playlist">
                                <img class="music-contol-my-playlist" src="~/img/icon-three-tochki.png" />
                            </button>
                        </div>
                    </div>
                    <div class="block-one-music">
                        <div class="music">
                            <div class="info-music">
                                <audio class="audio" src="~/audio/ANNA_ASTI_-_Po_baram_74376135.mp3"></audio>
                                <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                                <div class="block-name-music">
                                    <span>Название (Альбом)</span>
                                    <span>Исполнитель</span>
                                </div>
                            </div>
                            <button class="block-control-music-playlist">
                                <img class="music-contol-my-playlist" src="~/img/icon-three-tochki.png" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (bool.Parse(ViewData["myprofile"].ToString()))
        {
            <div class="block-form-add-music">
                <span>Добавить музыку</span>
                <form class="form-add-music">
                    <div class="block-input-name">
                        <input class="input-name-music" type="text" placeholder="Название" />
                        <input class="input-albom-music" type="text" placeholder="Альбом" />
                        <input class="input-songs-music" type="text" placeholder="Исполнитель" />
                    </div>
                    <div class="block-file-music">
                        <div class="file-item">
                            <label for="file-photo">Выберите фото трека</label>
                            <input type="file" name="file-photo" value="" />
                        </div>
                        <div class="file-item">
                            <label for="file-music">Выберите файл трека</label>
                            <input type="file" name="file-music" value="" />
                        </div>
                    </div>
                    <button class="button button-add-new-music">Добавить</button>
                </form>
            </div>
        }

        @if (bool.Parse(ViewData["myprofile"].ToString()))
        {
            <div class="block-form-change-music">
                <span>Редактировать песню</span>
                <form class="form-change-music">
                    <div class="block-input-change-name">
                        <input class="input-name-change-music" type="text" placeholder="Название" />
                        <input class="input-albom-change-music" type="text" placeholder="Альбом" />
                        <input class="input-songs-change-music" type="text" placeholder="Исполнитель" />
                    </div>
                    <div class="block-file-change-music">
                        <div class="file-change-item-music">
                            <label for="file-photo">Выберите фото трека</label>
                            <input type="file" name="file-photo" value="" />
                        </div>
                    </div>
                    <button class="button button-change-music">Сохранить</button>
                </form>
            </div>
        }

        @if (bool.Parse(ViewData["myprofile"].ToString()))
        {
            <div class="block-form-change-playlist">
                <span>Редактировать плейлист</span>
                <form class="form-change-playlist">
                    <div class="block-input-name-playlist">
                        <input class="input-name-change-playlist" type="text" placeholder="Название" />
                    </div>
                    <div class="block-file-playlist">
                        <div class="file-item-playlist">
                            <label for="file-photo-playlist">Выберите фото плейлиста</label>
                            <input type="file" name="file-photo-playlist" value="" />
                        </div>
                    </div>
                    <button class="button button-form-change-playlist">Сохранить</button>
                </form>
            </div>
        }

        @if (bool.Parse(ViewData["myprofile"].ToString()))
        {
            <div class="block-change-my-playlist">
                <button class="button-playlist-delete">
                    <img class="icon-change-playlist" src="~/img/icon-delete.png" />
                    <span>Удалить</span>
                </button>
                <button class="button-playlist-change">
                    <img class="icon-change-playlist" src="~/img/icon-reduct.png" />
                    <span>Редактировать</span>
                </button>
            </div>

        }

        @if (bool.Parse(ViewData["myprofile"].ToString()))
        {
            <div class="block-change-music-playlist">
                <button class="button-music-delete-from-playlist">
                    <img class="icon-change-playlist" src="~/img/icon-delete.png" />
                    <span>Удалить из плейлиста</span>
                </button>
                <button class="button-music-add-in-playlist">
                    <img class="icon-change-playlist" src="~/img/icon-reduct.png" />
                    <span>Добавить в плейлист</span>
                </button>
            </div>

        }

        <div class="block-information-profile">
            <div class="block-avatar">
                <img class="avatar-image" src="/img/avatar.jpg" />
            </div>
            <div class="information-profile">
                <div class="block-nickname">
                    <span>n78goodbye</span>
                </div>
                <hr />
                <div class="block-number-space">
                    <div class="block-telephone">
                        <span>@@idnicname</span>
                    </div>
                    @if (bool.Parse(ViewData["myprofile"].ToString()))
                    {
                        <div class="block-free-space show">
                            <span>Свободного места: 49ГБ</span>
                        </div>
                    }
                    @if (bool.Parse(ViewData["friendprofile"].ToString()))
                    {
                        <button class="button button-remove-friend">
                            <span>Удалить из друзей</span>
                        </button>
                    }
                    @if (bool.Parse(ViewData["userprofile"].ToString()))
                    {
                        <button class="button button-add-friend">
                            <span>Отправить заявку в друзья</span>
                        </button>
                    }
                </div>
            </div>
            @if (bool.Parse(ViewData["myprofile"].ToString()))
            {
                <img class="settings-profile" src="~/img/icon-settings-profile.png" />
            }
        </div>

        <div class="block-music block-music-user">
            <div class="user-playlist">
                <div class="block-your-music">
                    <span class="your-music-header">Плейлисты</span>
                </div>
                <div class="block-playlist">
                    <button class="playlist">
                        <img class="playlist-avatar" src="/img/playlist-avatar.jpg" />
                        <span class="info-my-playlist">Избранное 
                            @if (bool.Parse(ViewData["myprofile"].ToString()))
                            {
                                <img class="button-for-my-playlist" src="~/img/icon-three-tochki.png" width="20px" height="20px">
                            }
                        </span>
                    </button>
                    <button class="playlist">
                        <img class="playlist-avatar" src="/img/playlist-avatar.jpg" />
                        <span class="info-my-playlist">Избранное 
                            @if (bool.Parse(ViewData["myprofile"].ToString()))
                            {
                                <img class="button-for-my-playlist" src="~/img/icon-three-tochki.png" width="20px" height="20px">
                            }
                        </span>
                    </button>
                    @if (bool.Parse(ViewData["myprofile"].ToString()))
                    {
                        <button class="block-button-add-playlist">
                            <img class="image-add-playlist" src="~/img/icon-add-new.png" />
                        </button>
                    }
                </div>
            </div>

            <div class="user-music">
                <div class="block-your-music">
                    <span class="your-music-header">Музыка</span>
                    @if (bool.Parse(ViewData["myprofile"].ToString()))
                    {
                        <button class="block-button-add-music">
                            <img class="image-add-music" src="~/img/icon-add-new.png" />
                        </button>
                    }
                </div>
                <div class="block-shuffle">
                    <button class="shuffle">
                        <img class="shuffle-icon" src="/img/icon-shuffle.png" />
                        Перемешать
                    </button>
                    <div class="block-mymusic-favorite">
                        <button class="current-filter my-music-filter">
                            Моя музыка
                        </button>
                        <button class="favor-music-filter">
                            Избранное
                        </button>
                    </div>
                </div>
                <div class="block-one-music">
                    <div class="music">
                        <div class="info-music">
                            <audio class="audio" src="~/audio/ANNA_ASTI_-_Po_baram_74376135.mp3"></audio>
                            <div class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></div>
                            <div class="block-name-music">
                                <span>Название (Альбом)</span>
                                <span>Исполнитель</span>
                            </div>
                        </div>
                        @if (bool.Parse(ViewData["myprofile"].ToString()))
                        {
                            <button class="block-control">
                                <img class="music-contol" src="~/img/icon-three-tochki.png" />
                            </button>
                        }
                        @if (bool.Parse(ViewData["friendprofile"].ToString()) || bool.Parse(ViewData["userprofile"].ToString()))
                        {
                            <button class="block-music-other-user-control">
                                <img class="music-other-user-control" src="~/img/icon-three-tochki.png" />
                            </button>
                        } 
                    </div>
                </div>
                <div class="block-one-music">
                    <div class="music">
                        <div class="info-music">
                            <audio class="audio" src="~/audio/YUrijj_SHatunov_-_Sedaya_noch_50310007.mp3"></audio>
                            <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                            <div class="block-name-music">
                                <span>Название (Альбом)</span>
                                <span>Исполнитель</span>
                            </div>
                        </div>
                        @if (bool.Parse(ViewData["myprofile"].ToString()))
                        {
                            <button class="block-control">
                                <img class="music-contol" src="~/img/icon-three-tochki.png" />
                            </button>
                        }
                        @if (bool.Parse(ViewData["friendprofile"].ToString()) || bool.Parse(ViewData["userprofile"].ToString()))
                        {
                            <button class="block-music-other-user-control">
                                <img class="music-other-user-control" src="~/img/icon-three-tochki.png" />
                            </button>
                        }
                    </div>
                </div>
                <div class="block-one-music">
                    <div class="music">
                        <div class="info-music">
                            <audio class="audio" src="~/audio/ANNA_ASTI_-_Po_baram_74376135.mp3"></audio>
                            <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                            <div class="block-name-music">
                                <span>Название (Альбом)</span>
                                <span>Исполнитель</span>
                            </div>
                        </div>
                        @if (bool.Parse(ViewData["myprofile"].ToString()))
                        {
                            <button class="block-control">
                                <img class="music-contol" src="~/img/icon-three-tochki.png" />
                            </button>
                        }
                        @if (bool.Parse(ViewData["friendprofile"].ToString()) || bool.Parse(ViewData["userprofile"].ToString()))
                        {
                            <button class="block-music-other-user-control">
                                <img class="music-other-user-control" src="~/img/icon-three-tochki.png" />
                            </button>
                        }
                    </div>
                </div>
                <div class="block-one-music">
                    <div class="music">
                        <div class="info-music">
                            <audio class="audio" src="~/audio/YUrijj_SHatunov_-_Sedaya_noch_50310007.mp3"></audio>
                            <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                            <div class="block-name-music">
                                <span>Название (Альбом)</span>
                                <span>Исполнитель</span>
                            </div>
                        </div>
                        @if (bool.Parse(ViewData["myprofile"].ToString()))
                        {
                                <button class="block-control">
                                    <img class="music-contol" src="~/img/icon-three-tochki.png" />
                                </button>
                        }
                        @if (bool.Parse(ViewData["friendprofile"].ToString()) || bool.Parse(ViewData["userprofile"].ToString()))
                        {
                            <button class="block-music-other-user-control">
                                <img class="music-other-user-control" src="~/img/icon-three-tochki.png" />
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="block-current-music">
        </div>

        <div class="current-playlist">
            <span class="header-current-playlist">Текущий плейлист</span>
            <button class="shuffle current-playlist-shuffle">
                <img class="shuffle-icon" src="/img/icon-shuffle.png" />
                Перемешать
            </button>
            <div class="block-one-music">
                <div class="music">
                    <div class="info-music">
                        <audio class="audio" src="~/audio/ANNA_ASTI_-_Po_baram_74376135.mp3"></audio>
                        <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                        <div class="block-name-music">
                            <span>Название (Альбом)</span>
                            <span>Исполнитель</span>
                        </div>
                    </div>
                    <button class="block-control">
                        <img class="icon-remove-iz-playlist" src="~/img/icon-remove-iz-playlist.png" />
                    </button>
                </div>
            </div>
            <div class="block-one-music">
                <div class="music">
                    <div class="info-music">
                        <audio class="audio" src="~/audio/ANNA_ASTI_-_Po_baram_74376135.mp3"></audio>
                        <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                        <div class="block-name-music">
                            <span>Название (Альбом)</span>
                            <span>Исполнитель</span>
                        </div>
                    </div>
                    <button class="block-control">
                        <img class="icon-remove-iz-playlist" src="~/img/icon-remove-iz-playlist.png" />
                    </button>
                </div>
            </div>
            <div class="block-one-music">
                <div class="music">
                    <div class="info-music">
                        <audio class="audio" src="~/audio/ANNA_ASTI_-_Po_baram_74376135.mp3"></audio>
                        <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                        <div class="block-name-music">
                            <span>Название (Альбом)</span>
                            <span>Исполнитель</span>
                        </div>
                    </div>
                    <button class="block-control">
                        <img class="icon-remove-iz-playlist" src="~/img/icon-remove-iz-playlist.png" />
                    </button>
                </div>
            </div>
        </div>

        @if (bool.Parse(ViewData["myprofile"].ToString()))
        {
            <div class="popup-change-mymusic">
            <button class="popup-button button-delete-music">
                <img class="popup-image" src="~/img/icon-delete.png" />
                Удалить
            </button>
            <button class="popup-button button-delete-music-favorite">
                <img class="popup-image" src="~/img/icon-krestic.png" />
                Убрать из избранного
            </button>
            <button class="popup-button button-change-music">
                <img class="popup-image" src="~/img/icon-reduct.png" />
                Редактировать
            </button>
            <button class="popup-button button-show-addinplaylist">
                <img class="popup-image" src="~/img/icon-plus.png" />
                Добавить в плейлист
            </button>
        </div>
        }

        <div class="block-add-in-playlist">
                <form class="form-addin-playlist">
                <div class="block-checkbox">
                    <input id="playlist1" type="radio" name="playlist" value="playlist" />
                    <label for="playlist1">Плейлист 1</label>
                </div>
                <div class="block-checkbox">
                    <input id="playlist2" type="radio" name="playlist" value="playlist" />
                        <label for="playlist2">Плейлист 2</label>
                </div>
                <div class="block-checkbox">
                    <input id="playlist3" type="radio" name="playlist" value="playlist" />
                        <label for="playlist3">Плейлист 3</label>
                </div>
                <button class="button button-add-inplaylist">Добавить</button>
            </form>
        </div>

        @if (bool.Parse(ViewData["friendprofile"].ToString()) || bool.Parse(ViewData["userprofile"].ToString()))
        {
            <div class="popup-change-friendmusic">
                <button class="popup-button button-addin-mymusic">
                    <img class="popup-image" src="~/img/icon-plus.png" />
                    Добавить себе
                </button>
                <button class="popup-button button-show-addinplaylist">
                    <img class="popup-image" src="~/img/icon-plus.png" />
                    Добавить в плейлист
                </button>
            </div>
        }
    </div>
</div>