<div class="content-wrapper">
    <div class="block-profile">
        <div class="block-information-profile">
            <div class="block-avatar">
                <img class="avatar-image" src="/img/profile-avatar.png" />
            </div>
            <div class="information-profile">
                <div class="block-nickname">
                    <span>n78goodbye</span>
                </div>
                <div class="block-number-space">
                    <div class="block-telephone">
                        <span>Номер телефона: 89566677890</span>
                    </div>
                    <div class="block-free-space">
                        <span>Свободного места: 49ГБ</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-music block-music-user">
            <div class="user-playlist">
                <div class="playlist">
                    <img class="playlist-avatar" src="/img/playlist-avatar.jpg"/>
                    <span>Избранное</span>
                </div>
                <div class="playlist">
                    <img class="playlist-avatar" src="/img/playlist-avatar.jpg" />
                    <span>Избранное</span>
                </div>
            </div>
            <hr />
            <div class="user-music">
                <div class="block-your-music">
                    <span class="your-music-header">Ваша музыка</span>
                </div>
                <div class="music">
                    <figure class="music-figure">
                        <figcaption class="name-music">Седая ночь</figcaption>
                        <audio class="audio" controls src="/audio/YUrijj_SHatunov_-_Sedaya_noch_50310007.mp3"></audio>
                    </figure>
                </div>
                <div class="music">
                    <figure class="music-figure">
                        <figcaption class="name-music">Седая ночь</figcaption>
                        <audio class="audio" controls src="/audio/YUrijj_SHatunov_-_Sedaya_noch_50310007.mp3"></audio>
                    </figure>
                </div>
                <div class="music">
                    <figure class="music-figure">
                        <figcaption class="name-music">Седая ночь</figcaption>
                        <audio class="audio" controls src="/audio/YUrijj_SHatunov_-_Sedaya_noch_50310007.mp3"></audio>
                    </figure>
                </div>
                <div class="music">
                    <figure class="music-figure">
                        <figcaption class="name-music">Седая ночь</figcaption>
                        <audio class="audio" controls src="/audio/YUrijj_SHatunov_-_Sedaya_noch_50310007.mp3"></audio>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>