@using LMusic.Models;
@using LMusic.ViewModels.Friends;
@model List<UserViewmodel_FriendsPage>;
@{
    ViewData["Title"] = "Друзья";
}

@foreach (var user in Model)
{
    <div>
        @user.Name
        @user.Id
    </div>
}
