@using LMusic.Models;
@using LMusic.ViewModels.Friends;
@model FriendsSearchPageViewModel;
@{
    ViewData["Title"] = "Друзья";
}

@foreach (var user in Model.Users)
{
    <div>
        @user.Name
        @user.Id
    </div>
}
