@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!doctype html>
<html>
<head>
    <title>METANIT.COM</title>
    <meta charset="utf-8" />
</head>
<body>
    <input type="type" name="name" value="" /> 
    <button></button>
    <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="ListenMusicValBot" data-size="large" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
    <script type="text/javascript">
      function onTelegramAuth(user) {
        alert('Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', ' + user.username : '') + ')');
      }
    </script>
</body>
</html>
