@model Music
<!doctype html>
<html>
<head>
    <title>METANIT.COM</title>
    <meta charset="utf-8" />
</head>
<body>
    <audio style="padding = 200px" class="current-audio" src="@Model.GetFullPath()" controls="" controlslist="nodownload noplaybackrate"></audio>
</body>
</html>
