<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]LMusic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LMusic.styles.css" asp-append-version="true" />
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- Левая панель -->
        <nav class="page-sidebar" id="sidebar">
            <div class="page-sidebar-box" id="sidebar-collapse">
                <img class="icon-arrow close-icon hidden" src="~/img/icon-arrow-close.png" />
                <img class="icon-arrow open-icon" src="/img/icon-arrow-open.png" />
                <ul class="side-menu">
                    <li class="side-menu-item">
                        <a class="menu-link" href="/home/profile">
                            <img class="menu-item-icon" src="/img/icon-profile.png" />
                            <span class="hidden">Профиль</span>
                        </a>
                    </li>
                    <li class="side-menu-item">
                        <a class="menu-link" href="/home/music">
                            <img class="menu-item-icon" src="/img/icon-music.png" />
                            <span class="hidden">Моя музыка</span>
                        </a>
                    </li>
                    <li class="side-menu-item">
                        <a class="menu-link" href="/home/friends">
                            <img class="menu-item-icon" src="/img/icon-friends.png" />
                            <span class="hidden">Друзья</span>
                        </a>
                    </li>
                    <li class="side-menu-item">
                        <a class="menu-link" href="/home/users">
                            <img class="menu-item-icon" src="/img/icon-all-users.png" />
                            <span class="hidden">Пользователи</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
    <script src="/js/lorem.js"></script>
</body>
</html>
